__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.terraform-temp/
.terraform-cache/
package/
function.zip

.env
!.env.example

terraform/.terraform/
terraform/*.zip
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/crash.*.log
terraform/*.tfvars
terraform/.terraform.lock.hcl
